<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jyh.kxt">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- umeng权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".KXTApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".index.ui.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".index.ui.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".index.ui.WebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".index.ui.ClassifyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".index.ui.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".index.ui.ShareActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".index.ui.BrowerHistoryActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".user.ui.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentBgTheme"/>
        <activity
            android:name=".av.ui.VideoDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/VideoTheme">
        </activity>
        <activity
            android:name=".user.ui.EditUserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.ui.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.ui.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.ui.StatementActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".user.ui.LoginOrRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".user.ui.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".user.ui.ChangePwdActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".user.ui.CollectActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".main.ui.activity.NewsContentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".explore.ui.AuthorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".explore.ui.MoreActivity"
            android:screenOrientation="portrait"/>

        <!-- umeng推送 -->
        <service android:name=".push.KXTPushIntentService"/>
        <!-- umeng分享 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1101487761"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="537c3e0456240b761700cd92">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="9c522d551a83fbc3f6b9e5addcda8c24">
        </meta-data>

        <activity android:name=".datum.ui.DatumHistoryActivity">
        </activity>
    </application>

</manifest>